# Environment Variables

DATABASE_URL="postgresql://USER:PASSWORD@localhost:5432/billflow"
NEXTAUTH_SECRET="your-super-secure-nextauth-secret-at-least-32-chars"
NEXTAUTH_URL="http://localhost:3000"
APP_URL="http://localhost:3000"
NODE_ENV="development"
